# Keys
ENCRYPTION_KEY=
AUTH_SECRET=

# Postgres creds (Unified DB)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# DB URIs
DB_CONNECTION_URI=
REDIS_URL=

# Traefik URL for Infisical
SITE_URL=

# Webhook Secret (Used by our custom Node.js receiver)
WEBHOOK_SECRET=

# MySQL creds (for sandbox PRs)
MYSQL_ROOT_PASSWORD=

# Required for self-hosted Infisical
NODE_ENV=

