# Infra Database Credentials (Required for docker-compose)
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

MYSQL_ROOT_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_db

GCP_AR_REPO=your_artifact_registry_repo